.heading
{
    width: 100%;
    text-align: center;
}
.heading h3
{
    display: inline;
}
.mario_image
{
    width: 50%;
    height: 50%;


}
.heading button{
    float:left;
    border: 3px rgb(56, 247, 8);
}
#start,#status
{
    font-size: 23px;

}
.modal-dialog
{
    width: 90%;

}
.Instructions_image
{
    display: inline-block;
    width: 45%;
}
video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
    
}
h4{
    background-color: antiquewhite;
    line-height: 2;
    margin:0px;
}
video
{
    background:url(game_console.png) ;
    background-size: cover;
    background-position: center;
    padding: 25px;
}